#################################################################################
## Copyright (C) 2019 Donald J. Bartley <djbcoffee@gmail.com>
##
## This source file may be used and distributed without restriction provided that
## this copyright statement is not removed from the file and that any derivative
## work contains the original copyright notice and the associated disclaimer.
##
## This source file is free software; you can redistribute it and/or modify it
## under the terms of the GNU General Public License as published by the Free
## Software Foundation; either version 2 of the License, or (at your option) any
## later version.
##
## This source file is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more
## details.
##
## You should have received a copy of the GNU General Public License along with
## this source file.  If not, see <http://www.gnu.org/licenses/> or write to the
## Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
## 02110-1301, USA.
#################################################################################
## File: ACIA.ucf
##
## Description:
## User constraints file for the ACIA project.
#################################################################################
## DJB 03/25/19 Created.
#################################################################################

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "Clock"  LOC = "P23" | BUFG = CLK ;
NET "CSPin"  LOC = "P2"  ;
NET "HostAddressPins<0>"  LOC = "P18"  ;
NET "HostAddressPins<1>"  LOC = "P13"  ;
NET "HostDataPins<0>"  LOC = "P97" | SLEW = FAST ;
NET "HostDataPins<1>"  LOC = "P92" | SLEW = FAST ;
NET "HostDataPins<2>"  LOC = "P87" | SLEW = FAST ;
NET "HostDataPins<3>"  LOC = "P82" | SLEW = FAST ;
NET "HostDataPins<4>"  LOC = "P77" | SLEW = FAST ;
NET "HostDataPins<5>"  LOC = "P74" | SLEW = FAST ;
NET "HostDataPins<6>"  LOC = "P70" | SLEW = FAST ;
NET "HostDataPins<7>"  LOC = "P65" | SLEW = FAST ;
NET "nCSPin"  LOC = "P8"  ;
NET "nCtsPin"  LOC = "P32"  ;
NET "nRtsPin"  LOC = "P52" | SLEW = FAST ;
NET "RnWPin"  LOC = "P27" | BUFG = CLK ;
NET "RxPin"  LOC = "P43"  ;
NET "TxPin"  LOC = "P37" | SLEW = FAST ;

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
